<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
<table width="100%" border="0" cellpadding="10">
  <thead>
    <tr data-hook="cart_items_headers">
			<th width="14%">&nbsp;</th>
			<th width="43%" align="left">Product Name</th>
			<th width="10%">Unit price</th>
			<th width="10%">Quantity</th>
			<th width="6%"></th>
			<th width="12%">Subtotal</th>
			<th width="5%">&nbsp;</th>
    </tr>
  </thead>

  <tbody id="line_items">
    <%= order_form.fields_for :line_items do |item_form| %>
      <%= render :partial => 'line_item', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } %>
    <% end %>
  </tbody>
  <%= render "spree/orders/adjustments" unless @order.adjustments.eligible.blank? %>
</table>
