<tr bgcolor="#FFFFFF" class="line-item product-detail">
  <td valign="top">
    <% if variant.images.length == 0 %>
      <%= link_to small_image(variant.product), variant.product %>
    <% else %>
      <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
    <% end %>
  </td>
  <td valign="top">
    <h4><%= link_to variant.product.name, product_path(variant.product) %></h4>
    <%= variant.options_text %>
    <% if @order.insufficient_stock_lines.include? line_item %>
      <span class="out-of-stock">
        <%= spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
      </span>
    <% end %>
    <%= line_item_description(variant) %>
  </td>


  <td align="center" valign="top">
    <%= line_item.single_money.to_html %>
  </td>

  <td align="center" valign="top">
    <%= item_form.number_field :quantity, :min => 0, :class => "line_item_quantity", :size => 5 %>
  </td>

	<td valign="top" align="center">
		<%= button_tag :class => 'primary', :id => 'update-button' do %>
			<%= Spree.t(:update) %>
		<% end %>
	</td>

  <td align="center" valign="top">
    <%= line_item.display_amount.to_html unless line_item.quantity.nil? %>
  </td>
  <td align="center" valign="top">
    <%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
  </td>
</tr>
