<section class="span12 cart-holder">
<% if @order.line_items.empty? %>

	<p>
		<%= Spree.t(:your_cart_is_empty) %>
	</p>
	<p>
		<%= link_to Spree.t(:continue_shopping), products_path, :class => 'button continue' %>
	</p>

<% else %>
	<div class="heading-bar">
		<h2>SHOPPING CART</h2>
		<span class="h-line"></span>
		<a class="more-btn" href="<%= checkout_path %>">Proceed to checkout</a>
	</div>
	<%= form_for @order, :url => update_cart_path, :html=>{ :id => "update-cart" } do |order_form| %>
        <div class="cart-table-holder">
          <%= render :partial => 'form', :locals => { :order_form => order_form } %>
        </div>

				<figure class="span4 first">
					<div class="cart-option-box">
						<h4><i class="icon-money"></i> DISCOUNT CODES</h4>
						<p>Enter your coupon code if you have one.</p>
          <%= order_form.text_field :coupon_code, :id => "inputDiscount", :placeholder => Spree.t(:coupon_code) %>
						<br / class="clearfix">
						<%= button_tag :class => 'primary', :id => 'update-button' do %>
							Apply cupon
						<% end %>
					</div>
				</figure>

				<figure class="span4 price-total">
					<div class="cart-option-box">
						<table width="100%" border="0" cellpadding="10" class="total-payment">
							<tr>
								<td width="55%" align="right"><strong>Subtotal</strong></td>
								<td width="45%" align="left"><%= @order.display_total.to_html %></td>
							</tr>
						</table>
						<a href="<%= checkout_path %>" class="more-btn">proceed to checkout</a>
					</div>
				</figure>
    <% end %>
<% end %>
</section>
