<div id="checkout" data-hook>  
<!--
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
	-->
  
  <div class="row" data-hook="checkout_header">
    <h1 class="span3" data-hook="checkout_title"><%= Spree.t(:checkout) %></h1>
    <div class="span9" data-hook="checkout_progress"><%= checkout_progress %></div>
  </div>
  
  <div class="row" data-hook="checkout_content">
    <div class="span10" data-hook="checkout_form_wrapper">
			<%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}", :class => "form-inline" } do |form| %>
        <% unless @order.email? %>
          <p class="field" style='clear: both'>
            <%= form.label :email %><br />
            <%= form.text_field :email %>
          </p>
        <% end %>
        <%= render @order.state, :form => form %>
      <% end %>
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="span3">
        <%= render :partial => 'summary', :locals => { :order => @order } %>
      </div>
    <% end %>
    </div>    
  </div>
</div>
