<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div id="registration" class="row" data-hook>
    <div id="account" class="span6">
    </div>
    <% if Spree::Config[:allow_guest_checkout] %>
        <div class="heading-bar">
        <h2>Checkout as a guest</h2>
        <span class="h-line"></span>
        </div>
        <div class="accordion span6">
        <div id="" data-hook class="accordion-group">
<div class="accordion-heading">
            <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>
            <span class="accordion-toggle"><%= Spree.t(:guest_user_account) %></span>
</div>
<div class="accordion-body collapse in">

    <div class="accordion-inner">

        <div class="span12 check-method-right">
            <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
                <p>
            <%= f.label :email, Spree.t(:email) %><br />
            <%= f.email_field :email, :class => 'title' %>
            </p>
            <p><%= f.submit Spree.t(:continue), :class => 'button primary' %></p>
        <% end %>
        </div>

        </div>

        </div>
</div>
    </div>
<% end %>
</div>

