<section class="b-detail-holder">
<article class="title-holder">
<div class="span6">
    <h4><strong><%= @product.name %></strong></h4>
</div>
</article>

<div class="book-i-caption">
    <!-- Strat Book Image Section -->
    <div class="span6 b-img-holder">
        <span class='zoom' id='ex1'> 
            <%= large_image(@product) %>
        </span>
    </div>
    <!-- Strat Book Image Section -->

    <!-- Strat Book Overview Section -->
    <div class="span6">
        <strong class="title">Quick Overview</strong>

        <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>

        <p>Availability: <a href="#">In stock</a></p>

        <div class="comm-nav">

            <strong class="title2">Quantity</strong>
            <%= form_for :order, :url => populate_orders_path do |f| %>
                <ul>
                    <li>
                    <%= number_field_tag (@product.variants_and_option_values.any? ? :quantity : "variants[#{@product.master.id}]"),
                        1, :class => 'title', :min => 1 %>
                        </li>
                        <li class="b-price"><%= display_price(@product) %></li>
                        <li>
                        <button class="more-btn" type="submit">+ Add to Cart</button>
                        </li>
                    </ul>

    <% if @product.variants_and_option_values(current_currency).any? %>
      <div id="product-variants" class="columns five alpha">
        <h6 class="product-section-title">Sizes</h6>
        <div>
            <%= select_tag "products[#{@product.id}]", options_from_collection_for_select(@variants, "id", 'options_text')  %>
        </div>
      </div>
    <% end%>
            <% end %>

            </div>
        </div>
        <!-- End Book Overview Section -->
    </div>

    <!-- Start Book Summary Section -->
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#pane1" data-toggle="tab">Ingredients</a></li>
            <li><a href="#pane2" data-toggle="tab">Directions</a></li>
            <li><a href="#pane3" data-toggle="tab">Allergen information</a></li>
        </ul>
        <div class="tab-content">
            <div id="pane1" class="tab-pane active">
                <%= raw(@product.property("ingredients")) %>
            </div>
            <div id="pane2" class="tab-pane">
                <%= raw(@product.property("directions")) %>
            </div>
            <div id="pane3" class="tab-pane">
                <%= raw(@product.property("allergen_information")) %>
            </div>
        </div><!-- /.tab-content -->
    </div><!-- /.tabbable -->

    <!--
    <section class="related-book">
    <div class="heading-bar">
        <h2>Related Books</h2>
        <span class="h-line"></span>
    </div>
    <div class="slider6">
        <div class="slide">
            <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img"/></a>
            <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
            <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
            <div class="cart-price">
                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                <span class="price">$129.90</span>
            </div>
        </div>
        <div class="slide">
            <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img"/></a>
            <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
            <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
            <div class="cart-price">
                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                <span class="price">$129.90</span>
            </div>
        </div>
        <div class="slide">
            <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img"/></a>
            <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
            <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
            <div class="cart-price">
                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                <span class="price">$129.90</span>
            </div>
        </div>
        <div class="slide">
            <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img"/></a>
            <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
            <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
            <div class="cart-price">
                <a class="cart-btn2" href="cart.html">Add to Cart</a>
                <span class="price">$129.90</span>
            </div>
        </div>
    </div>
    </section>
    -->
    <!-- End BX Slider holder -->

    <!-- Stsrt Customer Reviews Section -->
    <!--
    <section class="reviews-section">
    <figure class="left-sec">
    <div class="r-title-bar">
        <strong>Customer Reviews</strong>
    </div>
    <ul class="review-list">
        <li>
        <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
        <em class="">The Kite Runner</em>
        <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” Review by Bookshoppe’</p>
        </li>
        <li>
        <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
        <em class="">The Kite Runner</em>
        <p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” Review by Bookshoppe’</p>
        </li>
    </ul>
    <a href="#" class="grey-btn">Write Your Own Review</a>
    </figure>
    <figure class="right-sec">
    <div class="r-title-bar">
        <strong>Write Your Own Review</strong>
    </div>
    <ul class="review-f-list">
        <li>
        <label>Your name *</label>
        <input name="" type="text" />
        </li>
        <li>
        <label>Summary of your review *</label>
        <input name="" type="text" />
        </li>
        <li>
        <label>Your review *</label>
        <textarea name="" cols="2" rows="20"></textarea>
        </li>
        <li>
        <label>How do you rate this book? *</label>
        <div class="rating-list">
            <div class="rating-box">
                <label class="radio">
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Star 1
                </label>
            </div>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Star 2
            </label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Star 3
            </label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Star 4
            </label>
            <label class="radio">
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Star 5
            </label>
        </div>
        </li>
    </ul>
    <a href="#" class="grey-btn left-btn">Write Your Own Review</a>
    </figure>
    </section>
    -->
    <!-- End Customer Reviews Section -->
    </section>
    <!-- Strat Book Detail Section -->
    </section>
    <!-- End Main Content -->
    </section>
