<section class="span12 wellcome-msg first">
    <h2><%= @taxon.name %></h2>
    <p><%= @taxon.description %></p>
</section>

<section class="span9 first">
<%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</section>

<% content_for :sidebar do %>
    <%= render :partial => 'spree/shared/taxonomies' %>
<% end %>
