/*--------------------------------------*/
/* Colors
/*--------------------------------------*/
$c_green:       #8dba53 !default;  /* Spree green    */
$c_red:         #e45353 !default;  /* Error red      */

$layout_background_color:   #FFFFFF !default;
$title_text_color:          #404042 !default;
$body_text_color:           #404042 !default;
$link_text_color:           #8DD70E !default;

$product_background_color:  #FFFFFF !default;
$product_title_text_color:  #404042 !default;
$product_body_text_color:   #404042 !default;
$product_link_text_color:   #BBBBBB !default;

/*--------------------------------------*/
/* Fonts import from remote
/*--------------------------------------*/
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|&subset=latin,cyrillic,greek,greek-ext,latin-ext,cyrillic-ext);

/*--------------------------------------*/
/* Font families
/*--------------------------------------*/
$ff_base:       'Ubuntu', sans-serif !default;

/*--------------------------------------
  | Font sizes
  |--------------------------------------
  |- Navigation                         
  |                                    */
      $header_navigation_font_size:           14px !default;
      $horizontal_navigation_font_size:       16px !default;
      $main_navigation_header_font_size:      14px !default;
      $main_navigation_font_size:             12px !default;
/*|------------------------------------
  |- Product Listing                         
  |                                  */
      $product_list_name_font_size:           12px !default;
      $product_list_price_font_size:          16px !default;
      $product_list_header_font_size:         20px !default;
      $product_list_search_font_size:         14px !default;
/*|------------------------------------
  |- Product Details
  |                                  */
      $product_detail_name_font_size:         24px !default;
      $product_detail_description_font_size:  12px !default;
      $product_detail_price_font_size:        20px !default;
      $product_detail_title_font_size:        14px !default;
/*|------------------------------------
  |- Basic
  |                                  */
      $heading_font_size:                     24px !default;
      $sub_heading_font_size:                 14px !default;
      $button_font_size:                      12px !default;
      $input_box_font_size:                   13px !default;
      $base_font_size:                        12px !default;
      $border_color:                          lighten($body_text_color, 60) !default;
      $default_border:                        1px solid $border_color !default;
      $button_border_color:                   rgba(0, 138, 189, .75) !default;
      $table_head_color:                      lighten($body_text_color, 60) !default;
