<section class="row-fluid">
      <div class="heading-bar">
          <h2>Get To Know DTF Nutrition</h2>
            <span class="h-line"></span>
        </div>
        <!-- Start Main Content -->
        <section class="span9 first">
          <!-- Start Ad Slider Section -->
      
            <!-- End Ad Slider Section -->
            <!-- Start Simple Contant Holder Section -->
            <section class="content-holder">
            <h3>DTF Nutrition - Are You down to ...</h3>
            <p><img src="images/image28.jpg" align="left" class="content-img"/> ..this is the question we get all the time at DTF Nutrition. What does DTF stand for. The answer is as simple as it is mysterious. It means whatever you want it to mean. The founders of DTF wanted a supplement company that was different and unique and most importantly we are attempting to build an online supplement store that is based on a community of people that care about nutrition, health and exercise. We have a large number of people who contribute their time and knowledge to everything we do from what we sell to what we put online. So for us DTF Nutrition is anything our customers want it to be.</p>
            <p> DTF Nutrition was formed in 2012 by three uniquely different personalities but each with the same goal, to have a company that would grow into a single source on the internet for all things nutrition and supplements. This is the first phase of that concept in which we bring you a variety of supplements at the most competitive prices. As we grow as a company we will be brining features that other supplements companies cannot bring. We have dedicated ourselves to finding the most knowledgeable athletes in several different areas such as mixed martial arts, fitness, boxing, bodybuilding and wrestling. Our sponsored athletes are always ready through social media and here on our site to help you with your fitness goals and question you have about what supplements they recommend for their particular type of training.</p>
            
            </section>
            <!-- End Simple Contant Holder Section -->
        </section>
        <!-- End Main Content -->
        
        <!-- Start Main Side Bar -->

        <!-- End Main Side Bar -->
    </section>