 <section class="row-fluid">
      <div class="heading-bar">
          <h2>Ordering Information</h2>
            <span class="h-line"></span>
        </div>
        <!-- Start Main Content -->
        <section class="span9 first">
          <!-- Start Ad Slider Section -->
      
            <!-- End Ad Slider Section -->
            <!-- Start Simple Contant Holder Section -->
            <section class="content-holder">
            
            
             <ul type="disc">
            <li>Orders can be placed online at our secure site. </li></ul>

             <div class="heading-bar">
          <h2>Payment Information</h2>
            <span class="h-line"></span>
        </div>

             <ul type="disc">
  <li>Credit       Cards:  We accept Visa, MasterCard, American Express, and       Discover.<strong>&nbsp;</strong></li>
  <li>Please have all       appropriate information including the cardholder's billing address.<strong>&nbsp;</strong></li>
  <li>Credit cards are       checked thoroughly to verify billing address. <strong>&nbsp;</strong></li>
  <li>The security code       is also needed to process any credit card payment<strong>&nbsp;</strong></li>
</ul>
</section>
            <!-- End Simple Contant Holder Section -->
        </section>
        <!-- End Main Content -->
        
        <!-- Start Main Side Bar -->

        <!-- End Main Side Bar -->
    </section>