    <section class="row-fluid">
      <div class="heading-bar">
        <h2>Get In Touch with the DTF Nutrition Team</h2>
        <span class="h-line"></span> </div>
      <!-- Start Main Content -->
      <section class="span9 first">
        <!-- Start Ad Slider Section -->
       
        <!-- End Ad Slider Section -->
        
        <!-- Start Map Section -->
        <section class="map-holder">
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Pensacola,+FL&amp;aq=0&amp;oq=pensacola&amp;sll=27.698638,-83.804601&amp;sspn=17.206891,33.815918&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Pensacola,+Escambia,+Florida&amp;z=12&amp;ll=30.421309,-87.216915&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Pensacola,+FL&amp;aq=0&amp;oq=pensacola&amp;sll=27.698638,-83.804601&amp;sspn=17.206891,33.815918&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Pensacola,+Escambia,+Florida&amp;z=12&amp;ll=30.421309,-87.216915" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </section>
        <!-- Start Map Section -->
        
        <div class="span6 c-form-holder first">
          <!-- Start Contact form Section -->
        <form class="form-horizontal" method="post" action="/contact-info" >
          <div class="control-group">
            <label class="control-label" for="inputEmail">Name <sup>*</sup></label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Email <sup>*</sup></label>
            <div class="controls">
              <input type="text" id="inputPassword" name="request_email" placeholder="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Subject <sup>*</sup></label>
            <div class="controls">
              <input type="text" id="inputPassword" name="subject" placeholder="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Message <sup>*</sup></label>
            <div class="controls">
              <textarea name="message" cols="2" rows="20"></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="more-btn2">SEND REQUEST</button>
            </div>
          </div>
        </form>
        <!-- End Contact form Section -->
        </div>
        <div class="span6">
          <strong>Get In Touch with the DTF Nutrition Team</strong>
          <p>P.O. Box 9683,<br /> Pensacola, Florida <br />32503</p>
            <p>Phone: (888) 533-8937 <br />Fax: (888) 533-8937 <br />Email: <a href="#">admin@dtfnutrition.com</a> <br />Web: <a href="#">www.dtfnutrition.com</a></p>
            <strong>We look forward to hearing from you!</strong>
            <p>Our Team is ready and willing to answer any question you have about our products!  Please feel free to get in touch with us.</p>
        </div>
        
      </section>
      <!-- End Main Content -->
      <!-- Start Main Side Bar -->
        <section class="span3">
          <div class="side-holder">
              <article class="banner-ad"><img src="<%= image_path('logo300.png') %>" alt="Banner Ad" /></article>
            </div>
            <div class="side-holder">
              <article class="banner-ad"><img src="<%= image_path('mp300.jpg') %>" alt="Banner Ad" /></article>
            </div>
            <div class="side-holder">
              <article class="banner-ad"><img src="<%= image_path('island300.png') %>" alt="Banner Ad" /></article>
            </div>
            

            
           
            
        </section>
        <!-- End Main Side Bar -->
    </section>
  </section>
  <!-- End Main Content Holder -->
