        <!-- Start Map Section -->
        <section class="map-holder">
        	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.mu/?ie=UTF8&amp;ll=-20.234496,57.603722&amp;spn=0.093419,0.169086&amp;t=m&amp;z=13&amp;output=embed"></iframe>
        </section>
        <!-- Start Map Section -->
        
        <div class="span6 c-form-holder first">
        	<!-- Start Contact form Section -->
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Name <sup>*</sup></label>
            <div class="controls">
              <input type="text" id="inputEmail" placeholder="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Email <sup>*</sup></label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Subject <sup>*</sup></label>
            <div class="controls">
              <input type="password" id="inputPassword" placeholder="">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputPassword">Message <sup>*</sup></label>
            <div class="controls">
              <textarea name="" cols="2" rows="20"></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="more-btn2">SEND REQUEST</button>
            </div>
          </div>
        </form>
        <!-- End Contact form Section -->
        </div>
        <div class="span6">
        	<strong>Get In Touch with the DTF Nutrition Team</strong>
        	<p>P.O. Box 9683,<br /> Pensacola, Florida <br />32503</p>
            <p>Phone: (888) 533-8937 <br />Fax: (888) 533-8937 <br />Email: <a href="#">admin@dtfnutrition.com</a> <br />Web: <a href="#">www.dtfnutrition.com</a></p>
            <strong>We look forward to hearing from you!</strong>
            <p>Our Team is ready and willing to answer any question you have about our products!  Please feel free to get in touch with us.</p>
        </div>
        
      </section>