    <section class="row-fluid">
        
        <!-- Start Main Content -->
        <section class="span9 first">
            
            
            <!-- Strat Book Detail Section -->
            <section class="b-detail-holder">
                <article class="title-holder">
                    <div class="span6">
                        <h4>Dillon<strong>"Bad Boy"</strong>Cleckler</h4>
                    </div>
                    
                </article>
                <div class="book-i-caption">
                <!-- Strat Book Image Section -->
                    <div class="span6 b-img-holder">
                        <span class='zoom' id='ex1'> <img src='images/dillonmain.jpg' height="219" width="300" id='jack' alt=''/></span>
                    </div>
                <!-- Strat Book Image Section -->
                
                <!-- Strat Book Overview Section -->    
                    <div class="span6">
                        <div class="heading-bar">
              <h2>Athelete Overview</h2>
                <span class="h-line"></span>
            </div>
                        
                        <p>From:  Pensacola, Florida</p>
                      <p>Height:  6'2</p>
                      <p>Weight Class:  Heavyweight</p>
                      <p>Record:  3-0</p>
                      <p>Gym:  Bad Company MMA</p>
                      <p>Knockouts:  2</p>
                      <p>Submissions:  0</p>

                        
                        
                   </div>
                <!-- End Book Overview Section -->
                </div>
                
                <!-- Start Book Summary Section -->
                    <div class="tabbable">
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#pane1" data-toggle="tab">Dillon's Bio</a></li>
                        <li><a href="#pane2" data-toggle="tab">Nutrition & Work Out Regime</a></li>
                      </ul>
                      <div class="tab-content">
                        <div id="pane1" class="tab-pane active">
                          <p>Sed molestie semper ligula vitae pellentesque duis laoreet erat a pretium pulvinar, justo nisi fermentum risus, sed condimentum nisl elit vel risus. Vivamus felis dolor, consectetur vel condimentum sit amet, iaculis in orci. </p>
                          <p>Phasellus sed vehicula justo nunc quis erat vel ante ornare pulvinar cras tristique facilisis tincidunt quisque felis erat iaculis at fringilla vitae rutrum d magna. Nam pharetra scelerisque justo at vehicula aliquam erat volutpat.Quisque vulputate justo eu mattis interdum magna erat porta risus tincidunt </p>
                        </div>
                        <div id="pane2" class="tab-pane">
                        <h4>Pane 2 Content</h4>
                          <p> and so on ...</p>
                        </div>
                      </div><!-- /.tab-content -->
                    </div><!-- /.tabbable -->
                <!-- End Book Summary Section -->
            
            <!-- Start BX Slider holder -->  
            <section class="related-book">
            <div class="heading-bar">
                <h2>Sponsor Products</h2>
                <span class="h-line"></span>
            </div>
            <div class="slider6">
                      <div class="slide">
                        <a href="book-detail.html"><img src="images/image05.jpg" alt="" class="pro-img"/></a>
                        <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
                        <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
                        <div class="cart-price">
                            <a class="cart-btn2" href="cart.html">Add to Cart</a>
                            <span class="price">$129.90</span>
                        </div>
                      </div>
                      <div class="slide">
                        <a href="book-detail.html"><img src="images/image06.jpg" alt="" class="pro-img"/></a>
                        <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
                        <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
                        <div class="cart-price">
                            <a class="cart-btn2" href="cart.html">Add to Cart</a>
                            <span class="price">$129.90</span>
                        </div>
                      </div>
                      <div class="slide">
                        <a href="book-detail.html"><img src="images/image07.jpg" alt="" class="pro-img"/></a>
                        <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
                        <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
                        <div class="cart-price">
                            <a class="cart-btn2" href="cart.html">Add to Cart</a>
                            <span class="price">$129.90</span>
                        </div>
                      </div>
                      <div class="slide">
                        <a href="book-detail.html"><img src="images/image08.jpg" alt="" class="pro-img"/></a>
                        <span class="title"><a href="book-detail.html">A Walk Across The Sun</a></span>
                        <span class="rating-bar"><img src="images/rating-star.png" alt="Rating Star"/></span>
                        <div class="cart-price">
                            <a class="cart-btn2" href="cart.html">Add to Cart</a>
                            <span class="price">$129.90</span>
                        </div>
                      </div>
                    </div>
               </section>
            <!-- End BX Slider holder -->
            

            </section>
            <!-- Strat Book Detail Section -->
        </section>
      </section>
              <!-- Start Main Side Bar -->
        <section class="span3">
          <div class="side-holder">
              <article class="banner-ad"><img src="images/logo300.png" alt="Banner Ad" /></article>
            </div>
            <div class="side-holder">
              <article class="banner-ad"><img src="images/mp300.jpg" alt="Banner Ad" /></article>
            </div>
            <div class="side-holder">
              <article class="banner-ad"><img src="images/image20.jpg" alt="Banner Ad" /></article>
            </div>
            
         
            
        </section>
        <!-- End Main Side Bar -->