   <section class="row-fluid">
    	<div class="heading-bar">
        	<h2>DTF Nutrition MMA Athletes</h2>
            <span class="h-line"></span>
        </div>
        <!-- Start Main Content -->
        <section class="span12 first">
        	<!-- Start Ad Slider Section -->
			
            <!-- End Ad Slider Section -->
            
            <!-- Start Grid View Section -->

            <section class="grid-holder features-books">
            	<figure class="span3 slide first">
                <a href=""><img src="<%= image_path('josh.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Josh Samman</a></span>                    
                </figure>
                <figure class="span3 slide">
                <a href=""><img src="<%= image_path('cortez.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Cortez Coleman</a></span>
                </figure>
                <figure class="span3 slide">
                <a href=""><img src="<%= image_path('dillon.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Dillon "Bad Boy" Cleckler</a></span>                   
                </figure>
                <figure class="span3 slide">
                <a href=""><img src="<%= image_path('eli.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Eli "Tomahawk" Tamez</a></span>                   
                </figure>
                
                <hr/>
                <figure class="span3 slide first">
                <a href=""><img src="<%= image_path('clay.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Clay "Heavy Metal" Harvison</a></span>                   
                </figure>
                <figure class="span3 slide">
                <a href=""><img src="<%= image_path('brok.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Brok Weaver</a></span>
                    
                </figure>
                <figure class="span3 slide">
                    <a href=""><img src="<%= image_path('baraq.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Baraq Hunter</a></span>                    
                </figure>
                <figure class="span3 slide">
                    <a href=""><img src="<%= image_path('rance.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Rance "Bad Ass" Jones</a></span>                    
                </figure>
                <hr/>

                <figure class="span3 slide first">
                    <a href=""><img src="<%= image_path('mattmunsey.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Matt "Little Country" Munsey</a></span>                   
                </figure>
                <figure class="span3 slide">
                    <a href=""><img src="<%= image_path('dakota.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">Dakota "The Viking" Merritt</a></span>                   
                </figure>
                <figure class="span3 slide">
                <a href=""><img src="<%= image_path('james.jpg') %>" alt="" class="pro-img"/></a>
                    <span class="title"><a href="">James "Free" Freeman</a></span>                   
                </figure>

                
                
            </section>
            <div class="blog-footer">
        </div>
            <!-- End Grid View Section -->
            
        </section>
        <!-- End Main Content -->
      
    </section>
