    <section class="row-fluid">
        <div class="heading-bar">
            <h2>Privacy Policy</h2>
            <span class="h-line"></span>
        </div>
        <!-- Start Main Content -->
        <section class="span9 first">
            <!-- Start Ad Slider Section -->
            
            <!-- End Ad Slider Section -->
            <!-- Start Simple Contant Holder Section -->
            <section class="content-holder">
            
            
             <p>DTF Nutrition is committed to protecting your privacy. This policy describes our practices regarding personal and account information collected through our Web site. In this policy, personal and account information means your name, company name, account number, address, telephone number, and e-mail address plus any other information that personally identifies you or would permit us to contact you, and we means DTF Nutrition.</p>

             <p>We reserve the right to modify this privacy policy from time to time; the effective date noted above will indicate the date that this policy was last updated. You should visit our Web site periodically to review any changes.</p>

             <h4><p>Purchasing from our Web site</p></h4> 

             <p>All purchases made at our online store are secured with internet standard 128 bit SSL encryption.</p>
             <p> We collect our name, address and payment information to process your order. However, you may provide credit card and payment information by telephone.
              We do not save or store any credit card information submitted during any purchasing made online or by telephone.
              We do not sell or distribute any personal information for any reason. We respect your privacy.</p>

             <p>Our goal here at DTF Nutrition is to provide a safe and secure online experience for our shoppers.</p>

             <div class="heading-bar">
          <h2>Disclaimer</h2>
            <span class="h-line"></span>
        </div>

             </p>The products and the claims made about specific products on or through this site have not been evaluated by DTF Nutrition or the United States Food and Drug Administration and are not approved to diagnose, treat, cure or prevent disease. Information about each product is taken from the labels of the products or from the manufacturer's advertising material. DTF Nutrition is not responsible for any statements or claims that various manufacturers make about their products. The information provided on this site is for informational purposes only and is not intended as a substitute for advice from your physician or other health care professional or any information contained on or in any product label or packaging. You should consult with a healthcare professional before starting any diet, exercise or supplementation program, before taking any medication, or if you have or suspect you might have a health problem. By placing an order on this site, you are agreeing not to hold DTF Nutrition, its owners and its employees liable for any medical conditions that could arise. We are not doctors and you should consult a physician before following any training advice. By ordering product from us, you agree not to hold DTF Nutrition and its employees responsible for any medical conditions that may arise from use of any product sold on this site.</p>

             <p>The materials on this website may contain inaccuracies or typographical errors. DTF Nutrition does not warrant the accuracy, reliability of the information displayed or distributed through this site.</p>

             <p>All trademarks and trade names are the properties of their respective owners. All rights reserved.</p>
            </section>
            <!-- End Simple Contant Holder Section -->
        </section>
        <!-- End Main Content -->
        
        <!-- Start Main Side Bar -->

        <!-- End Main Side Bar -->
    </section>