<!-- Start Ad Slider Section -->
<div class="row-fluid">
    <div class="blog-sec-slider span8">
        <div class="slider5">
            <div class="slide"><a href="#"><img src="<%= image_path('banner4.png') %>" alt=""/></a></div>
            <div class="slide"><a href="#"><img src="<%= image_path('banner11.png') %>" alt=""/></a></div>
            <div class="slide"><a href="#"><img src="<%= image_path('banner10.png') %>" alt=""/></a></div>
        </div>
    </div>
    <div class="span4 well">
        <form action="" class="front-page-search">
            <p>
            <select class="input-block-level" name="testing_stuff">
                <option value="">Search by brand</option>
                <option value="">BSN</option>
                <option value="">Nintendo</option>
                <option value="">Sega</option>
                <option value="">Sony</option>
            </select>
            </p>
            <p>
            <select class="input-block-level" name="testing_stuff">
                <option value="">Search by category</option>
                <option value="">Action</option>
                <option value="">Suspense</option>
                <option value="">Adventure</option>
                <option value="">Superheroes</option>
            </select>
            </p>
            <p>
            <input class="input-block-level" type="text" name="testing_stuff" placeholder="Search by name" />
            </p>
            <button class="btn btn-success">Search</button>
        </form>
    </div>
</div>
<section class="row-fluid ">
    <figure class="span4 s-product">
        <div class="s-product-img"><a href="http://www.dtfnutrition.com/products/bsn-lean-dessert-protein-whipped-vanilla-cream-1-dot-38-lb"><img src="<%= image_path('bsnvan.png') %>" alt="BSN"/></a></div>
        <article class="s-product-det">
            <h3><a href="http://www.dtfnutrition.com/products/bsn-lean-dessert-protein-whipped-vanilla-cream-1-dot-38-lb">BSN: Syntha-6 Strawberry</a></h3>
            <p>Syntha-6 Extended Release Protein Blend is formulated with fast, medium and slow digesting proteins...</p>
            
            <div class="cart-price"> <a href="http://www.dtfnutrition.com/products/bsn-lean-dessert-protein-whipped-vanilla-cream-1-dot-38-lb" class="cart-btn2">Add to Cart</a> <span class="price">$22.00</span> </div>
            <span class="sale-icon">Sale</span> </article>
    </figure>
    <figure class="span4 s-product">
        <div class="s-product-img"><a href="http://dtfnutrition.com/products/cytosport-complete-whey-protein-strawberry-banana-5-lb"><img src="<%= image_path('comway.png') %>" alt="Image02"/></a></div>
        <article class="s-product-det">
            <h3><a href="http://dtfnutrition.com/products/cytosport-complete-whey-protein-strawberry-banana-5-lb">CytoSport:Complete Whey</a></h3>
            <p>High-quality protein is an integral part of diets of elite athletes and bodybuilders, which aids...</p>
            
            <div class="cart-price"> <a href="http://dtfnutrition.com/products/cytosport-complete-whey-protein-strawberry-banana-5-lb" class="cart-btn2">Add to Cart</a> <span class="price">$69.95</span> </div>
            <span class="sale-icon">Sale</span> </article>
    </figure>
    <figure class="span4 s-product">
        <div class="s-product-img"><a href="http://dtfnutrition.com/products/usp-labs-jack3d-micro-lemon-lime-146-g-new"><img src="<%= image_path('jack3d.png') %>" alt="Image02"/></a></div>
        <article class="s-product-det">
            <h3><a href="http://dtfnutrition.com/products/usp-labs-jack3d-micro-lemon-lime-146-g-new">USP Labs: Jack3d Micro</a></h3>
            <p>Like having tons of energy, strength, stamina and endurance for your workouts? Who doesn't? </p>
            
            <div class="cart-price"> <a href="http://dtfnutrition.com/products/usp-labs-jack3d-micro-lemon-lime-146-g-new" class="cart-btn2">Add to Cart</a> <span class="price">$39.65</span> </div>
            <span class="sale-icon">Sale</span> </article>
    </figure>
</section>
<!-- Start BX Slider holder -->
<section class="row-fluid features-books">
    <section class="span12 m-bottom">
        <div class="heading-bar">
            <h2>Featured Products</h2>
            <span class="h-line"></span> </div>
        <div class="slider1">
            <div class="slide"> <a href="http://dtfnutrition.com/products/abyss-unparalleled"><img src="<%= image_path('abysshome.png') %>" alt="" class="pro-img"/></a> <span class="title"><a href="http://dtfnutrition.com/products/abyss-unparalleled">Abyss: Unparalleled</a></span> 
                <div class="cart-price"> <a class="cart-btn2" href="http://dtfnutrition.com/products/abyss-unparalleled">Add to Cart</a> <span class="price">$37.95</span> </div>
            </div>
            <div class="slide"> <a href="http://dtfnutrition.com/products/musclepharm-bullet-proof-40-sv-grape"><img src="<%= image_path('mphome.png') %>" alt="" class="pro-img"/></a> <span class="title"><a href="http://dtfnutrition.com/products/musclepharm-bullet-proof-40-sv-grape">MusclePharm: Bullet Proof </a></span> 
                <div class="cart-price"> <a class="cart-btn2" href="http://dtfnutrition.com/products/musclepharm-bullet-proof-40-sv-grape">Add to Cart</a> <span class="price">$40.24</span> </div>
            </div>
            <div class="slide"> <a href="http://dtfnutrition.com/products/cellucor-c4-extreme-pink-30-srv"><img src="<%= image_path('cellhome.png') %>" alt="" class="pro-img"/></a> <span class="title"><a href="http://dtfnutrition.com/products/cellucor-c4-extreme-pink-30-srv">Cellucor: C4 Extreme</a></span> 
                <div class="cart-price"> <a class="cart-btn2" href="http://dtfnutrition.com/products/cellucor-c4-extreme-pink-30-srv">Add to Cart</a> <span class="price">$33.34</span> </div>
            </div>
            <div class="slide"> <a href="http://dtfnutrition.com/products/natures-best-iso-zero-carb-mango-peach-3-lb"><img src="<%= image_path('isohome.png') %>" alt="" class="pro-img"/></a> <span class="title"><a href="http://dtfnutrition.com/products/natures-best-iso-zero-carb-mango-peach-3-lb">Isopure Zero Carb</a></span> 
                <div class="cart-price"> <a class="cart-btn2" href="http://dtfnutrition.com/products/natures-best-iso-zero-carb-mango-peach-3-lb">Add to Cart</a> <span class="price">$58.65</span> </div>
            </div>
            <div class="slide"><a href="http://dtfnutrition.com/products/optimum-zma-180ct"><img src="<%= image_path('zmahome.png') %>" alt="" class="pro-img"/></a> <span class="title"><a href="http://dtfnutrition.com/products/optimum-zma-180ct">Optimum: ZMA</a></span> 
                <div class="cart-price"> <a class="cart-btn2" href="http://dtfnutrition.com/products/optimum-zma-180ct">Add to Cart</a> <span class="price">$28.05</span> </div>
            </div>
            <div class="slide"><a href="http://dtfnutrition.com/products/gaspari-nutrition-anavite-180-ct"><img src="<%= image_path('anavitehome.png') %>" alt="" class="pro-img"/></a> <span class="title"><a href="http://dtfnutrition.com/products/gaspari-nutrition-anavite-180-ct">Gaspari Nutrition: Anavite</a></span> 
                <div class="cart-price"> <a class="cart-btn2" href="http://dtfnutrition.com/products/gaspari-nutrition-anavite-180-ct">Add to Cart</a> <span class="price">$36.57</span> </div>
            </div>
            <div class="slide"><a href="http://dtfnutrition.com/products/musclepharm-recon-30-sv-watermelon"><img src="<%= image_path('mprecon.png') %>" alt="" class="pro-img"/></a> <span class="title"><a href="http://dtfnutrition.com/products/musclepharm-recon-30-sv-watermelon">MusclePharm: Recon</a></span> 
                <div class="cart-price"> <a class="cart-btn2" href="http://dtfnutrition.com/products/musclepharm-recon-30-sv-watermelon">Add to Cart</a> <span class="price">$45.90</span> </div>
            </div>
            <div class="slide"><a href="http://dtfnutrition.com/products/bsn-hyperfx-grape-30-srv"><img src="<%= image_path('bsnhyper.png') %>" alt="" class="pro-img"/></a> <span class="title"><a href="http://dtfnutrition.com/products/bsn-hyperfx-grape-30-srv">BSN: HyperFX</a></span> 
                <div class="cart-price"> <a class="cart-btn2" href="cart.html">Add to Cart</a> <span class="price">$29.89</span> </div>
            </div>
            
        </div>
    </section>
</section>
<!-- End BX Slider holder -->
<!-- Start Featured Author -->
<section class="row-fluid m-bottom">
    <section class="span9">
        <div class="featured-author">
            <div class="left"> <span class="author-img-holder"><a href="about-us.html"><img src="<%= image_path('dillonfeat.jpg') %>" alt=""/></a></span>
                <div class="author-det-box">
                    <div class="ico-holder">
                        <div id="socialicons" class="hidden-phone"> <a id="social_linkedin" class="social_active" href="#" title="Visit Google Plus page"><span></span></a> <a id="social_facebook" class="social_active" href="https://www.facebook.com/josh.samman?fref=ts&ref=br_tf" title="Visit Facebook page"><span></span></a> <a id="social_twitter" class="social_active" href="#" title="Visit Twitter page"><span></span></a> </div>
                    </div>
                    <div class="author-det"> <span class="title">Featured Athlete</span> <span class="title2">Dillon Cleckler</span>
                        <ul class="books-list">
                            <li><a href="http://dtfnutrition.com/products/musclepharm-recon-30-sv-watermelon"><img src="<%= image_path('reconsmall.png') %>" alt=""/></a></li>
                            <li><a href="http://dtfnutrition.com/products/promera-health-con-cret-concentrated-creatine-powder-pineapple"><img src="<%= image_path('joshcrete.png') %>" alt=""/></a></li>
                            <li><a href="http://dtfnutrition.com/products/cytosport-rtd-muscle-milk-chocolate-17-oz-12-ct"><img src="<%= image_path('joshmilk.png') %>" alt=""/></a></li>
                            <li><a href="http://dtfnutrition.com/products/natures-best-isopure-mass-creamy-vanilla-3-dot-25-lb"><img src="<%= image_path('isojosh.png') %>" alt=""/></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="current-book"> <strong class="title"><a href="http://dtfnutrition.com/products/dillon-clecker-walk-out-shirt">Exclusive Dilon Cleckler Custom T-Shit</a></strong>
                    <p>Offical Dillon Cleckler Custom T-Shirt! Get yours now!</p>
                    <div class="cart-price"> <a href="http://dtfnutrition.com/products/dillon-clecker-walk-out-shirt" class="cart-btn2">Add to Cart</a> <span class="price">$25.00</span> </div>
                </div>
                <div class="c-b-img"> <a href="http://dtfnutrition.com/products/dillon-clecker-walk-out-shirt"><img src="<%= image_path('dillonshirt.png') %>" alt="" /></a> </div>
            </div>
        </div>
    </section>
    <section class="span3 best-sellers">
        <div class="heading-bar">
            <h2>Best Sellers</h2>
            <span class="h-line"></span> </div>
        <div class="slider2">
            <div class="slide"><a href="http://dtfnutrition.com/products/brok-weaver-walk-out-tee"><img src="<%= image_path('brokbest.png') %>" alt=""/></a>
                <div class="slide2-caption">
                    <div class="left"> <span class="title"><a href="http://dtfnutrition.com/products/brok-weaver-walk-out-tee">Brok Weaver</a></span> <span class="author-name">Official Walk-Out Tee</span> </div>
                    <div class="right"> <span class="price">$25.00</span>  </div>
                </div>
            </div>
            <div class="slide"><a href="book-detail.html"><img src="images/image15.jpg" alt=""/></a>
                <div class="slide2-caption">
                    <div class="left"> <span class="title"><a href="book-detail.html">Thousand Splendid Miles</a></span> <span class="author-name">by Khalid Housseini</span> </div>
                    <div class="right"> <span class="price">$139.50</span>  </div>
                </div>
            </div>
            <div class="slide"><a href="book-detail.html"><img src="images/image15.jpg" alt=""/></a>
                <div class="slide2-caption">
                    <div class="left"> <span class="title"><a href="book-detail.html">Thousand Splendid Miles</a></span> <span class="author-name">by Mr. Khalid </span> </div>
                    <div class="right"> <span class="price">$139.50</span>  </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- End Featured Author -->
<section class="row-fluid m-bottom">
    <!-- Start Blog Section -->
    <section class="span9 blog-section">
        <div class="heading-bar">
            <h2>Nutriton & Diet Advice </h2>
            <span class="h-line"></span> </div>
        <div class="slider3">
            <div class="slide">
                <div class="post-img"><a href=""><img src="<%= image_path('whey.png') %>" alt=""/></a> <span class="post-date"><span>13</span> July</span> </div>
                <div class="post-det">
                    <h3><a href="">Whey Protien helps keep the immune system healthy.</a></h3>
                    <span class="comments-num">6 comments</span>
                    <p>Whey protein increases glutathione levels in the body. Glutathione is an antioxidant that's necessary for a healthy immune system. In addition to these proven health benefits... </p>
                </div>
            </div>
            <div class="slide">
                <div class="post-img"><a href=""><img src="<%= image_path('goals.png') %>" alt=""/></a> <span class="post-date"><span>26</span> July</span> </div>
                <div class="post-det">
                    <h3><a href="">The Best Supplements For Your Goals</a></h3>
                    <span class="comments-num">by Jim Stoppani, Ph.D</span>
                    <p>No matter how hard you work out or how smart you are about your diet, there may be an area that could use improvement. Strengthen your supplement stack! ... </p>
                </div>
            </div>
            <div class="slide">
                <div class="post-img"><a href=""><img src="<%= image_path('whey.png') %>" alt=""/></a> <span class="post-date"><span>13</span> July</span> </div>
                <div class="post-det">
                    <h3><a href="">Whey Protien helps keep the immune system healthy.</a></h3>
                    <span class="comments-num">6 comments</span>
                    <p>Whey protein increases glutathione levels in the body. Glutathione is an antioxidant that's necessary for a healthy immune system. In addition to these proven health benefits... </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Section -->
    <!-- Start Testimonials Section -->
    <section class="span3 testimonials">
        <div class="heading-bar">
            <h2>Testimonials</h2>
            <span class="h-line"></span> </div>
        <div class="slider4">
            <div class="slide">
                <div class="author-name-holder"> <img src="<%= image_path('fitrudy.png') %>" /> </div>
                <strong class="title">Mark Rudy <span>Fit Rudys</span></strong>
                <div class="slide">
                    <p>At 50 DTF Nutrition keeps me lean, fit and healthy</p>
                </div>
            </div>
            <div class="slide">
                <div class="author-name-holder"> <img src="<%= image_path('fitrudy.png') %>" /> </div>
                <strong class="title">Mark Rudy <span>Fit Rudys</span></strong>
                <div class="slide">
                    <p>At 50 DTF Nutrition keeps me lean, fit and healthy</p>
                </div>
            </div>
        </div>
    </section>

    <!-- End Testimonials Section -->
</section>
