 <section class="row-fluid">
      <div class="heading-bar">
          <h2>Shipping Information</h2>
            <span class="h-line"></span>
        </div>
        <!-- Start Main Content -->
        <section class="span9 first">
          <!-- Start Ad Slider Section -->
      
            <!-- End Ad Slider Section -->
            <!-- Start Simple Contant Holder Section -->
            <section class="content-holder">
            
            
             <p><strong>***During the hot summer months,  there is a possibility that nutrition bars will melt during shipping. Please  keep this in mind before ordering. If you have any doubt, do not purchase  nutrition bars during the summer months. We DO NOT accept any returns on  nutrition bars for any reason during </strong><strong>June - September</strong><strong>.***</strong></p>

             <ul type="disc"><li>You will be provided with a shipping quote for your order when you have completed your shopping on our site.</li><li>Most orders are shipped out same or next day. </li><li>UPS does not deliver on weekends or holidays.  Do not include these days when estimating your expected delivery date. </li><li>We will charge you a $10 fee for shipments that are either re-routed after leaving our warehouse or are incorrectly addressed due to customer's error.  Shipping labels are generated directly from the shipping information you have entered.  If you provide us an incorrect zip code or other addressing error e.g. incorrect or missing apartment number you will be charged the $10 fee since the shipping company will charge us a fee for this correction. </li></ul>

             <div class="heading-bar">
          <h2>Returns</h2>
            <span class="h-line"></span>
        </div>

             <li>All problems with orders must be reported within 24 hours of receiving product. </li>
             <li>We do not accept any returns on merchandise that has been opened. </li>
             <li>All returns must have a return authorization number visible on the package. Orders sent back without a return authorization number will be refused. </li>
            <li>25% restocking fee will be charged on all returns. </li>
            <li>Shipping charges will not be refunded. </li>
            <li>Any damaged product must be received by us before any credits are given or replacement product is shipped. </li>
            <li>DTF Nutrition is not responsible for any use, abuse or misuse of the products sold on this website. All information on this website is intended solely for reference purposes. We do work hard to make sure our information is accurate. However we are not able to ensure that the contents on this site represent the most current product formulation in all situations. Please visit the vendor’s web sites if you have concerns. Product information represents views of the product’s manufacturer, not necessarily the views of DTF Nutrition. These statements have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure or prevent any disease.<br/><h4>****Always consult with a physician when trying a new product or when in doubt about a particular product.**** </h4></li></ul>
          </section>
            <!-- End Simple Contant Holder Section -->
        </section>
        <!-- End Main Content -->
        
        <!-- Start Main Side Bar -->

        <!-- End Main Side Bar -->
    </section>