    <section class="social-ico-bar">
      <section class="container">
        <section class="row-fluid">
          <article class="span6">
            <p>© 2013  DTF Nutrition. </p>
          </article>
          <article class="span6 copy-right">
          </article>
        </section>
      </section>
    </section>
