    <section class="social-ico-bar">
      <section class="container">
        <section class="row-fluid">
          <div id="socialicons" class="hidden-phone"> <a id="social_linkedin" class="social_active" href="#" title="Visit Google Plus page"><span></span></a> <a id="social_facebook" class="social_active" href="#" title="Visit Facebook page"><span></span></a> <a id="social_twitter" class="social_active" href="#" title="Visit Twitter page"><span></span></a> <a id="social_youtube" class="social_active" href="#" title="Visit Youtube"><span></span></a> <a id="social_vimeo" class="social_active" href="#" title="Visit Vimeo"><span></span></a> <a id="social_trumblr" class="social_active" href="#" title="Visit Vimeo"><span></span></a> <a id="social_google_plus" class="social_active" href="#" title="Visit Vimeo"><span></span></a> <a id="social_dribbble" class="social_active" href="#" title="Visit Vimeo"><span></span></a> <a id="social_pinterest" class="social_active" href="#" title="Visit Vimeo"><span></span></a> </div>
          <ul class="footer2-link">
            <li><a href="/pages/shipping">Shipping & Returns</a></li>
            <li><a href="/pages/privacy">Privacy & Disclaimer</a></li>
            <li><a href="/pages/conditions">Conditions of Use</a></li>
          </ul>
        </section>
      </section>
    </section>
        <section class="container">
      <section class="row-fluid">
        <figure class="span3">
          <h4>Newsletter</h4>
          <p>Subscribe to be the first to know about Best Deals and Exclusive Offers!</p>
          <input name="" type="text" class="field-bg" value="Enter Your Email"/>
          <input name="" type="submit" value="Subscribe" class="sub-btn" />
        </figure>
        <figure class="span3">
          <h4>Links</h4>
          <ul class="tweets-list">
            <li>The Fighter Web<a href="http://www.thefighterweb.com">www.thefighterweb.com</a></li>
            <li>Island Fights Championships<a href="http://www.islandfights.com">www.islandfights.com</a></li>
          </ul>
        </figure>
        <figure class="span3">
          <h4>Location</h4>
          <p>Pensacola, Florida.</p>
          <span>
          <ul class="phon-list">
            <li>(850) 637-9586</li>
            <li>(850) 417-7151</li>
          </ul>
          </span> <span class="mail-list"> <a href="#">admin@dtfnutrition.com</a><br />
           </span> </figure>
        <figure class="span3">
          <h4>Opening Time</h4>
          <p>Monday-Friday ______8:00 to 5:00</p>
          <p>Saturday ____________ 9:00 to 5:00</p>
          <p>Sunday _____________Closed</p>
          
        </figure>
      </section>
    </section>