  <header id="main-header">
    <section class="container-fluid container">
      <section class="row-fluid">
        <section class="span4">
        <h1 id="logo"> <a href="<%= spree.root_path %>"><img src="<%= image_path('logo.png') %>" /></a> </h1>
        </section>
        <section class="span8">
          <ul class="top-nav2">
              <% if not spree_current_user.nil? %>
                  <li><a href="<%= spree.edit_user_path(current_spree_user) %>">My Account</a></li>
        <% end %>

          </ul>

          <div class="search-bar">

            <%= form_tag spree.products_path, :method => :get, :class => "form-inline" do %>
              <%= search_field_tag :keywords, params[:keywords], :placeholder => "Search entire store here..." %>
              <%= button_tag "Search", :class => "btn btn-success" %>
            <% end %>

            <%#<input name="" type="text" value="search entire store here..." />%>
            <%#<input name="" type="button" value="Search" />%>
          </div>

        </section>
      </section>
    </section>
    <!-- Start Main Nav Bar -->
    <nav id="nav">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li> <a href="/t/category/protein">Protein</a> </li>
              <!-- <li> <a href="">Stacks</a> </li> -->
              <li> <a href="/t/category/health-and-nutrition">Weight Loss</a> </li>
              <li> <a href="/t/category/post-workout/creatine">Creatine</a> </li>
              <li> <a href="/t/category/pre-workout">Pre-Workout</a> </li>
              <li> <a href="/t/category/apparel">Apparel</a></li>
              <!-- <li> <a href="">New Products</a> </li>
              <li><a href="">Top Products</a></li> -->
              <li class="dropdown"> <a class="dropdown-toggle" href="" data-toggle="dropdown"> DTF Athletes<b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <li><a href="/pages/mma">MMA</a></li>
                    <!-- <li><a href="">Boxing</a></li>
                    <li><a href="">Wrestling</a></li> -->
                    <li><a href="">Fitness</a></li>
                    <li><a href="">Body Building</a></li>

                </ul>
              </li>
              <!--
              <li class="dropdown"> <a class="dropdown-toggle" href="grid-view.html" data-toggle="dropdown">Apparel <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                  <li><a href="#">Mens Shirts</a></li>
                  <li><a href="#">Womens Shirts</a></li>
                  <li><a href="#">Kids Shirts</a></li>
                </ul>
              </li>
              
              <li> <a href="grid-view.html">Gift Cards</a> </li>
              -->
              
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </nav>
    <!-- End Main Nav Bar -->
  </header>
