<%= form_for :spree_user, :class => "", :url => spree.spree_user_session_path do |f| %>

    <div class="control-group">
      <%= f.label :email, Spree.t(:email), :class => "control-label" %><br />
      <div class="controls">
          <%= f.email_field :email, :tabindex => 1 %>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :password, Spree.t(:password), :class => "control-label" %><br />
        <div class="controls">
          <%= f.password_field :password, :tabindex => 2 %>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="more-btn">Login</button>
        </div>
    </div>
<% end %>
