<%
    paginated_products = @searcher.retrieve_products if params.key?(:keywords)
    paginated_products ||= products
%>


	<% if products.empty? %>
		<%= Spree.t(:no_products_found) %>
	<% elsif params.key?(:keywords) %>
		<h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
	<% end %>

	<% if products.any? %>
	<section class="grid-holder features-books">
		<% products.each do |product| %>
			<figure class="span3 slide <%= cycle('first', '', '', '') %>">
				<a href="<%= product_path(product) %>">
            <%= product_image(product, :width => "200", :height => "200") %>
				</a>

				<span class="title">
					<%= link_to product.name[0..25], product %>
				</span>

			     <div class="cart-price">
			        <a class="cart-btn2" href="<%= product_path(product) %>">Add to Cart</a>
			        <span class="price"><%= display_price(product) %></span>
				</div>

			</figure>
		<% end %>
	</section>
	<% end %>

<% if paginated_products.respond_to?(:num_pages) %>
    <%= paginate paginated_products %>
<%end%>
