<div class="side-holder">
	<article>
		<img src="<%= image_path('logo300.png') %>" alt="Logostars" />
	</article>
</div>

<div class="side-holder">
    <div class="well">
        <%= form_tag spree.products_path, :method => :get do %>
            <p>
            <select class="input-block-level" name="brand">
                <option value="">Search by brand</option>
                <%= Spree::Taxon.all(:conditions => {:taxonomy_id => 15}, :order => "name ASC").each do |taxon| %>
                <option value="<%= taxon.id %>"><%= taxon.name %></option>
                <% end %>
            </select>
            </p>
            <p>
            <select class="input-block-level" name="category">
                <option value="">Search by category</option>
                <%= Spree::Taxon.all(:conditions => {:taxonomy_id => 14}, :order => "name ASC").each do |taxon| %>
                <option value="<%= taxon.id %>"><%= taxon.name %></option>
                <% end %>
            </select>
            </p>
            <p>
             <input class="input-block-level" type="text" name="keywords" placeholder="Search by name" /> 
            </p>
            <button class="btn btn-success">Search</button>
        <% end %>
    </div>
</div>

<!-- Start Shop by Section -->
<div class="side-holder">
	<article class="shop-by-list">
		<h2>Shop by</h2>
		<div class="side-inner-holder">
			<% get_taxonomies.each do |taxonomy| %>
				<% if taxonomy.root.name != "Brand" %>
				<strong class='title'><%= Spree.t(:shop_by_taxonomy, :taxonomy => taxonomy.name) %></strong> 
				<%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
			<%end%>
			<% end %>
		</div>
	</article>
</div>
<!-- End Shop by Section -->

<!-- Start Latest Reviews Section -->
<!--<div class="side-holder">-->
	<!--<article class="l-reviews">-->
	<!--<h2>Latest Reviews</h2>-->
	<!--<div class="side-inner-holder">-->
		<!--<article class="r-post">-->
		<!--<div class="r-img-title">-->
			<!--<img src="<%= image_path('image21.jpg') %>" />-->
			<!--<div class="r-det-holder">-->
				<!--<strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>-->
				<!--<span class="r-by">by Khalid Hoessini</span>-->
				<!--<span class="rating-bar"><img src="<%= image_path('rating-star.png') %>" alt="Rating Star"/></span>-->
			<!--</div>-->
		<!--</div>-->
		<!--<span class="r-type">Vivamus bibendum massa</span>-->
		<!--<p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>-->
		<!--<span class="r-author">Review by BookShoppe’</span>-->
		<!--</article>-->
		<!--<article class="r-post">-->
		<!--<div class="r-img-title">-->
			<!--<img src="<%= image_path('image21.jpg') %>" />-->
			<!--<div class="r-det-holder">-->
				<!--<strong class="r-author"><a href="book-detail.html">The Kite Runner</a></strong>-->
				<!--<span class="r-by">by Khalid Hoessini</span>-->
				<!--<span class="rating-bar"><img src="<%= image_path('rating-star.png') %>" alt="Rating Star"/></span>-->
			<!--</div>-->
		<!--</div>-->
		<!--<span class="r-type">Vivamus bibendum massa</span>-->
		<!--<p>“ Suspendisse tortor lacus, suscipit eget pharetra sed, ornare sed elit. Curabitur mollis, justo sit amet fermentum ” </p>-->
		<!--<span class="r-author">Review by BookShoppe’</span>-->
		<!--</article>-->
	<!--</div>-->
	<!--</article>-->
<!--</div>-->
<!-- End Latest Reviews Section -->

<!-- Start Price Range Section -->
<!--<div class="side-holder">-->
	<!--<article class="price-range">-->
	<!--<h2>Price Range</h2>-->
	<!--<div class="side-inner-holder">-->
		<!--<p>Select the price range for better search</p>                    	-->
		<!--<div id="slider-range"></div>-->
		<!--<p> <input type="text" id="amount" class="r-input"> </p>-->
	<!--</div>-->
	<!--</article>-->
<!--</div>-->
<!-- End Price Range Section -->

<!-- Start Community Poll Section -->
<!--<div class="side-holder">-->
	<!--<article class="price-range">-->
	<!--<h2>Community Poll</h2>-->
	<!--<div class="side-inner-holder">-->
		<!--<p>Who is your favourite American author?</p>-->
		<!--<label class="radio">-->
			<!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>-->
			<!--Jane Austin-->
		<!--</label>-->
		<!--<label class="radio">-->
			<!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
			<!--William Blake-->
		<!--</label>-->
		<!--<label class="radio">-->
			<!--<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>-->
			<!--Keith Urban-->
		<!--</label>-->
		<!--<label class="radio">-->
			<!--<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">-->
			<!--Anna Smith-->
		<!--</label>-->
		<!--<a href="#" class="vote-btn">Vote</a>-->
	<!--</div>-->
	<!--</article>-->
<!--</div>-->
<!-- End Community Poll Section -->
