    <section class="container-fluid container">
      <section class="row-fluid">
        <section class="span6">
          <ul class="top-nav">
              <li><a href="/" class="active">Home</a></li>
            <li><a href="/pages/about">About</a></li>
            <!-- <li><a href="blog.html">Blog</a></li> 
            <li><a href="blog-detail.html">News</a></li>-->
            <li><a href="/pages/contact">Contact Us</a></li>
          </ul>
        </section>
        <section class="span6 e-commerce-list">
          <ul>
						<% if not spree_current_user %>
              <li>Welcome! <a href="<%= spree_login_path %>">Login</a> or <a href="<%= spree_signup_path %>">Create an account</a></li>
						<% end %>
          </ul>
          <div class="c-btn"> <a href="/cart" class="cart-btn">Cart</a>
          </div>
        </section>
      </section>
    </section>
