<section class="row-fluid">
<div class="heading-bar">
    <h2>Log into your account</h2>
    <span class="h-line"></span> </div>
<!-- Start Main Content -->
<section class="checkout-holder">
<section class="span12 first">
<% if flash[:alert] %>
    <div class="flash errors"><%= flash[:alert] %></div>
<% end %>
<!-- Start Accordian Section -->
<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading"> 
            <span class="accordion-toggle" data-parent="#accordion2" href="#collapseOne"> User information </span>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span12 check-method-right"> <strong class="green-t">Login</strong>
                    <p>Already registered? Please log in below:</p>
                    <%= render :partial => 'spree/shared/login' %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Accordian Section -->
</section>
</section>
<!-- End Main Content -->
</section>
