<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>
  <body>

    <div class="wrapper">
			<section class="top-nav-bar">
				<%= render :partial => 'spree/shared/topmenu' %>
			</section>

      <%= render :partial => 'spree/shared/header' %>


        <section id="content-holder" class="container-fluid container">
            <section class="row-fluid">
                <%= yield %>
                <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
            </section>
        </section>

			<section class="container-fluid footer-top2">
				<%= render :partial => 'spree/shared/footermiddle' %>
			</section>

			<footer id="main-footer">
				<%= render :partial => 'spree/shared/footerbottom' %>
			</footer>

    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
    </script>
		<%= javascript_include_tag 'store/all' %>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
  </body>
</html>
